<include file="Index/header" />
<include file="Index/nav" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        现金记账
        <small>现金日记账表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 现金记账表</a></li>
        <li><a href="#">现金日记账</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">

          <div class="col-xs-12">
              <div class="panel panel-default">
                  <div class="panel-body panel-body-footer">
                      <form class="form-inline search-line" action="/index.php" method="get">
                          <input type="hidden" name="m" value="home"/>
                          <input type="hidden" name="c" value="charge"/>
                          <input type="hidden" name="a" value="index"/>

                          <div class="form-group">
                              <label>支出日期&nbsp;</label>
                              <input type="text" class="form-control" placeholder="按支出时间范围搜索" size="40" name="search_datepicker" value="{$input_datepicker}" id="reservationtime">
                          </div>
                          <if condition="$userInfo.jurisdiction eq 2">
                              &nbsp;&nbsp;
                              <div class="form-group">
                                  <label>所属公司&nbsp;</label>
                                  <select class="form-control selectpicker show-tick" title="按所属公司搜索" data-size="8" name="search_department" id="search_company" data-width="fit" multiple>
                                      <volist name="companys" id="company">
                                          <if condition="$company.selected eq 1">
                                              <option value="{$company.company_id}" selected>{$company.smallname}</option>
                                              <else />
                                              <option value="{$company.company_id}">{$company.smallname}</option>
                                          </if>
                                      </volist>
                                  </select>
                              </div>
                          </if>
                          &nbsp;&nbsp;
                          <button type="button" class="btn btn-info" id="search-charge"><i class="fa fa-search fa-fw"></i> 立即搜索</button>
                          &nbsp;&nbsp;
                          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addInfoModal" id="add-info-modal"><i class="fa fa-plus fa-fw"></i> 添加记录</button>
                          &nbsp;&nbsp;
                          <button type="button" class="btn btn-default" id="export-charge"><i class="fa fa-file-excel-o fa-fw"></i> 导出表格</button>
                      </form>


                  </div>
              </div>



          </div>
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!--<h3 class="box-title">Data Table With Full Features</h3>-->

                <h5><text class="text-info">支出金额合计：{$sum_moeny}（元）</text></h5>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <!--<th class="text-center">还款ID</th>-->
                    <!--<th class="text-center">借款ID</th>-->
                    <th class="text-center">支出日期</th>
                    <th class="text-center">支出金额</th>
                    <th class="text-center">支出事由</th>
                    <th class="text-center">备注信息</th>
                    <if condition="$userInfo.jurisdiction eq 2">
                        <th class="text-center">所属公司</th>
                    </if>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="charges" id="charge">
                    <tr>
                        <!--<td class="text-center">{$repayment.repayments_id}</td>-->
                        <!--<td class="text-center">{$repayment.loan_id}</a></td>-->
                        <td class="text-center">{$charge.gmt_create}</td>
                        <td class="text-center">{$charge.money}</td>
                        <td class="text-center">{$charge.matter}</td>
                        <td class="text-center">{$charge.remark}</td>
                        <if condition="$userInfo.jurisdiction eq 2">
                            <td class="text-center">{$charge.company_name}</td>
                        </if>
                        <td class="text-center"><span id="edit-charge" attr-id="{$charge.charge_id}" attr-m="home" attr-c="charge" attr-a="editCharge" data-toggle="modal" data-target="#editInfoModal"><i class="fa fa-edit fa-fw"></i></span>&nbsp;<span id="delete-info" attr-id="{$charge.charge_id}" attr-name="{$charge.money}元的记录" attr-m="home" attr-c="charge" attr-a="deleteCharge"><i class="fa fa-trash-o fa-fw"></i></span></td>
                    </tr>
                </volist>
                </tbody>
              </table>
                <div class="pagination" >{$pageRes}</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    </section>
    <!-- /.content -->
  </div>

    <div class="modal fade" id="addInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="data-dismiss"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增记账记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="baoju-form">
                        <!-- text input -->
                        <div class="form-group col-lg-12">
                            <label>支出金额</label>
                            <input type="text" class="form-control " name="money" placeholder="请输入支出金额" >
                        </div>
                        <div class="form-group col-lg-12">
                            <label>支出事项</label>
                            <input type="text" class="form-control" name="matter" placeholder="请输入支出事项" >
                        </div>

                        <div class="form-group col-lg-12">
                            <label>支出日期</label>
                            <input type="text" class="form-control sandbox-container" name="gmt_create" id="gmt_create" placeholder="请选择支出时间">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>备注信息</label>
                            <textarea class="form-control" name="remark"></textarea>
                        </div>
                        <if condition="$userInfo.jurisdiction eq 2">
                            <div class="form-group col-lg-12">
                                <label>所属公司</label>
                                <select class="form-control selectpicker show-tick" title="选择支出所属公司" data-size="8" name="company_id" >
                                    <volist name="companys" id="company">
                                        <option value="{$company.company_id}">{$company.smallname}</option>
                                    </volist>
                                </select>
                            </div>
                        </if>
                        <div class="form-group col-lg-12">
                            <button type="button" class="btn btn-primary btn-block" id="add-record" attr-m="home" attr-c="charge" attr-a="checkAdd">新增记录</button>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <div class="text-center"><text class="text-warning"><small>付出不一定有收获，努力了就值得了</small></text></div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i>&nbsp;取消修改</button>-->
                <!--<button type="button" class="btn btn-primary" id="add-record" attr-m="home" attr-c="staff" attr-a="checkEdit"><i class="fa fa-check fa-fw"></i>&nbsp;立即保存</button>-->
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="data-dismiss"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑记账记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="baoju-edit-form">
                        <!-- text input -->
                        <div class="form-group col-lg-12">
                            <label>支出金额</label>
                            <input type="text" class="form-control " name="money" id="edit-money" placeholder="请输入支出金额" >
                        </div>
                        <div class="form-group col-lg-12">
                            <label>支出事项</label>
                            <input type="text" class="form-control" name="matter" id="edit-matter" placeholder="请输入支出事项" >
                        </div>

                        <div class="form-group col-lg-12">
                            <label>支出日期</label>
                            <input type="text" class="form-control sandbox-container" name="gmt_create" id="edit-gmt_create" placeholder="请选择支出时间">
                        </div>
                        <div class="form-group col-lg-12">
                            <label>备注信息</label>
                            <textarea class="form-control" name="remark" id="edit-remark"></textarea>
                        </div>

                        <div class="form-group col-lg-12">
                            <input type="hidden"  name="charge_id" id="edit-charge_id">
                            <button type="button" class="btn btn-primary btn-block" id="edit-record" attr-m="home" attr-c="charge" attr-a="checkEditValue">修改信息</button>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <div class="text-center"><text class="text-warning"><small>付出不一定有收获，努力了就值得了</small></text></div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i>&nbsp;取消修改</button>-->
                <!--<button type="button" class="btn btn-primary" id="add-record" attr-m="home" attr-c="staff" attr-a="checkEdit"><i class="fa fa-check fa-fw"></i>&nbsp;立即保存</button>-->
            </div>
        </div>
    </div>
</div>




  <!-- /.content-wrapper -->
  <include file="Index/footer" />

