<include file="Index/header" />
<include file="Index/nav" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        还款记录
        <small>还款记录列表</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 公司概览</a></li>
        <li><a href="#">客户资料</a></li>
        <li class="active">客户信息列表</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <div class="col-xs-12">
              <!-- Info boxes -->
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-aqua"><i class="fa fa-gavel fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前应还金额总计</span>
                              <span class="info-box-number">{$sum_smoney}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-red"><i class="fa fa-magnet fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前实还金额总计</span>
                              <span class="info-box-number">{$sum_rmoney}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->

                  <!-- fix for small devices only -->
                  <div class="clearfix visible-sm-block"></div>

                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-green"><i class="fa fa-lightbulb-o fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前违约金额总计</span>
                              <span class="info-box-number">{$sum_bmoney}&nbsp;元</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-yellow"><i class="fa fa-tags fa-fw"></i></span>

                          <div class="info-box-content">
                              <span class="info-box-text">当前还款记录数</span>
                              <span class="info-box-number">{$countRepayment}&nbsp;条</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <!-- /.col -->
              </div>
              <!-- /.row -->

          </div>

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!--<h3 class="box-title">Data Table With Full Features</h3>-->
                <div class="col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-body panel-body-footer">
                            <form class="form-inline search-line" action="/index.php" method="get">
                                <input type="hidden" name="m" value="home"/>
                                <input type="hidden" name="c" value="repayments"/>
                                <input type="hidden" name="a" value="index"/>

                                <!--<div class="form-group">-->
                                <!--<label>借款号&nbsp;</label>-->
                                <!--<input type="text" class="form-control" placeholder="按借款号搜索" size="12" name="search_loan_id" value="{$input_loan_id}">-->
                                <!--</div>-->
                                <input type="hidden" class="form-control" placeholder="按借款号搜索" size="12" name="search_loan_id" value="{$input_loan_id}">

                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>还款人姓名&nbsp;</label>
                                    <input type="text" class="form-control" placeholder="按姓名搜索" size="12" name="search_customer_name" value="{$input_customer_name}">
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>手机号码&nbsp;</label>
                                    <input type="text" class="form-control" placeholder="按手机号码搜索" size="14" name="search_customer_phone" value="{$input_customer_phone}">
                                </div>
                                &nbsp;&nbsp;
                                <div class="form-group">
                                    <label>还款时间&nbsp;</label>
                                    <input type="text" class="form-control" placeholder="按还款时间范围搜索" size="40" name="search_datepicker" value="{$input_datepicker}" id="reservationtime">
                                </div>
                                <if condition="$userInfo.jurisdiction eq 2">
                                    &nbsp;&nbsp;
                                    <div class="form-group">
                                        <label>所属公司&nbsp;</label>
                                        <select class="form-control selectpicker show-tick" title="按所属公司搜索" data-size="8" name="search_department" id="search_company" data-width="fit" multiple>
                                            <volist name="companys" id="company">
                                                <if condition="$company.selected eq 1">
                                                    <option value="{$company.company_id}" selected>{$company.smallname}</option>
                                                    <else />
                                                    <option value="{$company.company_id}">{$company.smallname}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                </if>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-info" id="search-repayment"><i class="fa fa-search fa-fw"></i> 立即搜索</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addInfoModal" id="add-info-modal"><i class="fa fa-plus fa-fw"></i> 添加记录</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-default" id="export-repayments"><i class="fa fa-file-excel-o fa-fw"></i> 导出表格</button>
                            </form>


                        </div>
                    </div>



                </div>
                <!--<h5><text class="text-info">应还金额总计：{$sum_smoney}（元）</text>&nbsp;&nbsp;&nbsp;&nbsp;<text class="text-green">实还金额总计：{$sum_rmoney}（元）</text> &nbsp;&nbsp;&nbsp;&nbsp;<text class="text-danger">违约金总计：{$sum_bmoney}（元）</text></h5>-->

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <!--<th class="text-center">还款ID</th>-->
                    <!--<th class="text-center">借款ID</th>-->
                    <th class="text-center">借款日期</th>
                    <th class="text-center">客户姓名</th>
                    <th class="text-center">手机号码</th>
                    <th class="text-center">借款总额（元）</th>
                    <th class="text-center">还款周期</th>
                    <th class="text-center">应还金额（元）</th>
                    <th class="text-center">实还金额（元）</th>
                    <th class="text-center">违约金（元）</th>
                    <th class="text-center">还款时间</th>
                    <th class="text-center">收款人</th>
                    <th class="text-center">收款方式</th>
                    <if condition="$userInfo.jurisdiction eq 2">
                        <th class="text-center">所属公司</th>
                    </if>
                    <th class="text-center">备注信息</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="repayments" id="repayment">
                    <tr>
                        <!--<td class="text-center">{$repayment.repayments_id}</td>-->
                        <!--<td class="text-center">{$repayment.loan_id}</a></td>-->
                        <td class="text-center">{$repayment.loan.create_time|date="Y-m-d",###}</td>
                        <td class="text-center"><a href="{:U('home/customer/index')}&name={$repayment.customer.name}">{$repayment.customer.name}</a></td>
                        <td class="text-center">{$repayment.customer.phone}</td>

                        <td class="text-center"><a href="{:U('home/loan/index')}&loan_id={$repayment.loan_id}">{$repayment.loan.principal}</a></td>
                        <td class="text-center">{$repayment.cycles}/{$repayment.loan.cyclical}</td>
                        <td class="text-center danger">{$repayment.s_money}</td>
                        <td class="text-center success">{$repayment.r_money}</td>
                        <td class="text-center">{$repayment.b_money}</td>
                        <td class="text-center">{$repayment.gmt_repay}</td>
                        <td class="text-center">{$repayment.staff.staff_name}</td>
                        <td class="text-center">
                            <if condition="$repayment.pay_style eq 1">
                                微信
                                <elseif condition="$repayment.pay_style eq 2" />
                                支付宝
                                <elseif condition="$repayment.pay_style eq 3" />
                                银行卡
                                <elseif condition="$repayment.pay_style eq 4" />
                                现金
                                <elseif condition="$repayment.pay_style eq 5" />
                                扣首期
                                <elseif condition="$repayment.pay_style eq 6" />
                                扣上门费
                            </if>
                        </td>
                        <if condition="$userInfo.jurisdiction eq 2">
                            <td class="text-center">{$repayment.company_name}</td>
                        </if>
                        <td class="text-center">{$repayment.remark}</td>
                        <td class="text-center"><span id="edit-repayments" attr-id="{$repayment.repayments_id}" attr-m="home" attr-c="repayments" attr-a="editRepayments" data-toggle="modal" data-target="#editInfoModal"><i class="fa fa-edit fa-fw"></i></span>&nbsp;<span id="delete-info" attr-id="{$repayment.repayments_id}" attr-name="{$repayment.customer.name}的还款记录" attr-m="home" attr-c="repayments" attr-a="deleteRepayments"><i class="fa fa-trash-o fa-fw"></i></span></td>
                    </tr>
                </volist>
                </tbody>
              </table>
                <div class="pagination" >{$pageRes}</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->



    </section>
    <!-- /.content -->
  </div>

    <div class="modal fade" id="addInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="data-dismiss"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增还款记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="baoju-form">
                        <!-- text input -->
                        <div class="form-group col-lg-6">
                            <label>借款人姓名</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择借款人姓名" data-size="8" id="customer_id" name="customer_id" onchange="addRepaymentsSelectCustomer()">
                                <volist name="customers" id="customer">
                                    <option value="{$customer.id}">{$customer.name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>手机号码</label>
                            <input type="text" class="form-control " id="phone" placeholder="请输入手机号码" >
                        </div>
                        <div class="form-group col-lg-6">
                            <label>身份证号码</label>
                            <input type="text" class="form-control" id="idcard" placeholder="请输入身份证号码" >
                        </div>

                        <div class="form-group col-lg-6">
                            <label>选择借款项</label>
                            <select class="form-control selectpicker show-tick" title="请选择借款项" data-size="5" name="loan_id" id="loan_id" onchange="addRepaymentsSelectLoan()">

                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>借款金额(元)</label>
                            <input type="text" class="form-control " name="principal" id="principal" >
                        </div>

                        <div class="form-group col-lg-6">
                            <label>借款周期</label>
                            <input type="text" class="form-control" name="cyclical" id="cyclical">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>还款周期</label>
                            <!--<input type="text" class="form-control" name="cycles" id="cycles" placeholder="请输入当前还款期数">-->
                            <select class="form-control selectpicker show-tick" title="请选择还款周期" data-size="5" name="cycles" id="cycles">

                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>应还金额(元)</label>
                            <input type="text" class="form-control" name="s_money" id="s_money" placeholder="请输入每期应还金额" >
                        </div>
                        <div class="form-group col-lg-6">
                            <label>实还金额(元)</label>
                            <input type="text" class="form-control" name="r_money" id="r_money" placeholder="请输入每期应还金额">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>违约金额(元)</label>
                            <input type="text" class="form-control" name="b_money" id="b_money" placeholder="请输入违约金额">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>收款人</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择收款人" data-size="8" name="staff_id" id="staff_id">
                                <volist name="staffs" id="staff">
                                    <option value="{$staff.staff_id}">{$staff.staff_name}</option>
                                </volist>
                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>收款方式</label>
                            <select class="form-control selectpicker show-tick" title="请选择收款方式" data-size="8" name="pay_style" id="pay_style">
                                <option value="1" selected>微信</option>
                                <option value="2">支付宝</option>
                                <option value="3">银行卡</option>
                                <option value="4">现金</option>
                                <option value="5">扣首期</option>
                                <option value="6">扣上门费</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>还款时间</label>
                            <input type="text" class="form-control" name="gmt_repay" id="gmt_repay" placeholder="请选择还款时间">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>备注信息</label>
                            <textarea class="form-control" name="remark"></textarea>
                            <!--<textarea type="text" class="form-control" name="cyc_principal" id="cyc_principal" placeholder="请输入每期应还金额">-->
                        </div>

                        <div class="form-group col-lg-12">
                            <button type="button" class="btn btn-primary btn-block" id="add-record" attr-m="home" attr-c="repayments" attr-a="checkAddEdit">新增记录</button>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <div class="text-center"><text class="text-warning"><small>付出不一定有收获，努力了就值得了</small></text></div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i>&nbsp;取消修改</button>-->
                <!--<button type="button" class="btn btn-primary" id="add-record" attr-m="home" attr-c="staff" attr-a="checkEdit"><i class="fa fa-check fa-fw"></i>&nbsp;立即保存</button>-->
            </div>
        </div>
    </div>
</div>


    <div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="data-dismiss"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑还款记录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form role="form" id="baoju-edit-form">
                        <!-- text input -->
                        <div class="form-group col-lg-6">
                            <label>借款人姓名</label>
                            <input type="text" class="form-control " id="edit-customer-name" readonly />
                        </div>
                        <div class="form-group col-lg-6">
                            <label>手机号码</label>
                            <input type="text" class="form-control " id="edit-customer-phone" readonly />
                        </div>
                        <div class="form-group col-lg-6">
                            <label>身份证号码</label>
                            <input type="text" class="form-control" id="edit-customer-idcard" readonly />
                        </div>

                        <div class="form-group col-lg-6">
                            <label>借款项</label>
                            <input type="text" class="form-control " id="edit-loan-info" readonly />
                        </div>
                        <div class="form-group col-lg-6">
                            <label>借款金额(元)</label>
                            <input type="text" class="form-control " id="edit-loan-principal" readonly />
                        </div>

                        <div class="form-group col-lg-6">
                            <label>借款周期</label>
                            <input type="text" class="form-control" id="edit-cyclical" readonly />
                        </div>

                        <div class="form-group col-lg-6">
                            <label>还款周期</label>
                            <select class="form-control selectpicker show-tick" title="请选择还款周期" data-size="5" name="edit_cycles" id="edit-cycles">

                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>应还金额(元)</label>
                            <input type="text" class="form-control" id="edit-s_money" placeholder="请输入每期应还金额" readonly>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>实还金额(元)</label>
                            <input type="text" class="form-control" name="edit_r_money" id="edit-r_money" placeholder="请输入每期应还金额">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>违约金额(元)</label>
                            <input type="text" class="form-control" name="edit_b_money" id="edit-b_money" placeholder="请输入违约金额">
                        </div>

                        <div class="form-group col-lg-6">
                            <label>收款人</label>
                            <select class="form-control selectpicker show-tick" data-live-search="true" title="请选择收款人" data-size="8" name="edit_staff_id" id="edit-staff_id">
                                <volist name="staffs" id="staff">
                                    <option value="{$staff.staff_id}">{$staff.staff_name}</option>
                                </volist>
                            </select>
                        </div>

                        <div class="form-group col-lg-6">
                            <label>收款方式</label>
                            <select class="form-control selectpicker show-tick" title="请选择收款方式" data-size="8" name="edit_pay_style" id="edit-pay_style">
                                <option value="1" selected>微信</option>
                                <option value="2">支付宝</option>
                                <option value="3">银行卡</option>
                                <option value="4">现金</option>
                                <option value="5">扣首期</option>
                                <option value="6">扣上门费</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>还款时间</label>
                            <input type="text" class="form-control" name="edit_gmt_repay" id="edit-gmt_repay" placeholder="请选择还款时间">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>备注信息</label>
                            <textarea class="form-control" name="edit_remark" id="edit-remark"></textarea>
                            <!--<textarea type="text" class="form-control" name="cyc_principal" id="cyc_principal" placeholder="请输入每期应还金额">-->
                        </div>

                        <div class="form-group col-lg-12">
                            <input type="hidden"  name="edit_repayments_id" id="edit-repayments_id">
                            <button type="button" class="btn btn-primary btn-block" id="edit-record" attr-m="home" attr-c="repayments" attr-a="checkEditValue">修改信息</button>
                        </div>

                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <div class="text-center"><text class="text-warning"><small>付出不一定有收获，努力了就值得了</small></text></div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i>&nbsp;取消修改</button>-->
                <!--<button type="button" class="btn btn-primary" id="add-record" attr-m="home" attr-c="staff" attr-a="checkEdit"><i class="fa fa-check fa-fw"></i>&nbsp;立即保存</button>-->
            </div>
        </div>
    </div>
</div>




  <!-- /.content-wrapper -->
  <include file="Index/footer" />

